body {
    margin: 0;
    padding: 0;
    background: #000;
}

img {
    display: block;
}

#bgVideo {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    overflow: hidden;
    object-fit: cover;
}

.Greeting {
    position: relative;
    display: flex;
    width: min-content;
    padding: 1vh 3vw;

    margin: auto;
    margin-top: 5vh;
    justify-content: center;

    font-family: "Vibur", sans-serif;
    align-items: center;
    font-weight: bold;

    z-index: 10;

    border-radius: 15px;
    -moz-border-radius: 15px;

    border: 2px solid;
    backdrop-filter: blur(10px);
    box-shadow: 10px 10px 10px purple;
}

#hi {
    width: 14rem;
    text-align: center;
}

#fgImage {
    border-radius: 50%;
    height: 10rem;
    box-shadow: 0 0 50px 9px purple;
}

#Name {
    color: #fff;
    font-size: 4.3rem;
    animation: pulsate 0.11s ease-in-out infinite alternate;
    margin-top: 1rem;
    margin-bottom: -3.5rem;
}

#Name2 {
    font-size: 2rem;
    color: #fff;
}

.Socials {
    position: relative;
    display: flex;
    width: min-content;
    padding: 1vh 3vw;

    margin: auto;
    margin-top: 60vh;
    justify-content: center;

    font-family: "Vibur", sans-serif;
    align-items: center;
    font-weight: bold;

    z-index: 10;

    border-radius: 15px;
    -moz-border-radius: 15px;

    border: 2px solid;
    backdrop-filter: blur(10px);
    box-shadow: 0 0 50px 9px purple;
}

.imgSocials {
    width: 3rem;
    padding: 0.2vh 0.5vw;
}

.Embed {
    z-index: 1;
    position: absolute;
    display: flex;

    margin-top: 10vh;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);

    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 0 50px 10px rgb(30, 0, 128);
}

.Buttons {
    z-index: 1;
    position: absolute;
    right: 1%;
    bottom: 1%;
    height: 50px;
    width: 50px;
    opacity: 0.8;
}

#MeowImage {
    right: 125%;
}

#MeowButton {
    margin: 0;
    padding: 0;
    display: block;
    background: transparent;
    border: none !important;
}

#MusicButton {
    margin: 0;
    padding: 0;
    display: block;
    background: transparent;
    border: none !important;
}

@keyframes pulsate {
    100% {
        text-shadow:
            0 0 4px #fff,
            0 0 11px #fff,
            0 0 19px #fff,
            0 0 40px #f09,
            0 0 80px #f09,
            0 0 90px #f09,
            0 0 100px #f09,
            0 0 150px #f09;
    }
    0% {
        text-shadow:
            0 0 4px #fff,
            0 0 10px #fff,
            0 0 18px #fff,
            0 0 38px #f09,
            0 0 73px #f09,
            0 0 80px #f09,
            0 0 94px #f09,
            0 0 140px #f09;
    }
}